html {
    font-family: futura;
}

body {
    background-color: lightpink
}

.quote {
    background-color: grey;
    width: 65%;
    margin: auto;
    margin-top: 60px;
    border-radius: 5px;
    padding: 10px;
    height: 160px;
    
}

h1 {
    text-align: center;
}

#thequote {
    font-size: 20px;
    font-style: italic;
    margin: 2px;
}

#theauthor {
    font-size: 17px;
    font-style: oblique;
    text-align: right;
    margin-right: 20px
}

#newquote {
    position: fixed;
    top: 200px;
    background-color: darkcyan;
    border: none;
    color: antiquewhite;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    transition: box-shadow 1s
}

#newquote:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#newquote:active {
    top: 201px;
}

h1 {
    font-size: 14px
}

 {

}